<section data-ng-controller="HomeController">
    <div>
        <h2></h2>
        <form class="form-horizontal">
            <fieldset>
                <legend>Application Status: <span ng-style="{'color': (status !== 'connected')?'red':'green'}">{{status}}</span></legend>

                <!-- Name-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Name">Name</label>
                    <div class="col-md-4">
                        <input id="Name" name="Name" type="text" placeholder="Identifier for this connection" class="form-control input-md" ng-model="name" ng-change="changeName()">
                    </div>
                </div>
                <!-- Choose Peer -->
                <div ng-show="peers.length" class="form-group">
                    <label class="col-md-4 control-label" for="button1id">Select Peer</label>
                    <div class="col-md-8">
                        <button ng-repeat="peer in peers" class="btn btn-md" ng-class="{'btn-primary': !peer.selected, 'btn-danger': peer.selected}" ng-click="selectPeer(peer)">{{peer.name}}</button>
                        <button class="btn btn-md btn-info" ng-click="refresh()">Refresh</button>
                    </div>
                </div>
                <div ng-hide="peers.length" class="form-group">
                    <label class="col-md-4 control-label" for="button1id">No Peers Found</label>
                    <div class="col-md-8">
                    	<p>No valid connections at this moment. <button class="btn btn-sm btn-primary" ng-click="refresh()">Refresh</button></p>
                    </div>
                </div>
                <!-- File Input    -->
                <div ng-show="curPeerNdx >= 0 && peers[curPeerNdx].selected" class="form-group">
                    <label class="col-md-4 control-label">File Upload</label>
                    <div class="col-md-8">
                       <form>
                            <input type="file" class="form-control input-sm"  file-model="myfile"><br>
                             <input class="btn btn-sm btn-info" value="transfer" type="submit" ng-click="send()">
                           </form>
                    </div>
                 </div>
                <!-- Text input-->
                <div ng-show="curPeerNdx >= 0 && peers[curPeerNdx].selected" class="form-group">
                    <label class="col-md-4 control-label" for="Message">Message</label>
                    <div class= "col-md-8">
                        <input id="Message" name="Message" type="text" placeholder="" class="form-control input-md" ng-model="text" ng-change="textChange()" ng-submit="nextCmd()">
                        <span class="help-block">Hit Enter when you are finished</span>
                         </div>
                       </div>
                    </div>
                    </div>
            </fieldset>
        </form>
        <table ng-show="curPeerNdx >= 0 && peers[curPeerNdx].selected && peers[curPeerNdx].messages.length" class="table table-ordered table-striped">
        	<tr ng-repeat="msg in peers[curPeerNdx].messages">
        		<td ng-class="{'pull-right':msg.send, 'pull-left':!msg.send}">{{msg.text}}</td>
        	</tr>
        </table>
    </div>
</section>
