<section data-ng-controller="HomeController">
	<div>
		<h2>Application Status: {{status}}</h2>
		<form>
		<input label="Name" ng-model="name" />
		<input label="Text" ng-model="text" ng-change="textChange" ng-submit="nextCmd" />
		<button ng-repeat="peer in peers" class="btn btn-md" ng-class="{'btn-primary': !peer.selected, 'btn-danger': peer.selected}"
			ng-click="selectPeer(peer)">{{peer.name}}</button>
		<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
</section>
